h1{ 
    color:black; 
  
     background-color:white; 
  
   text-align: center; 
  
  } 
  
  .Container{ 
  
    margin:25px; 
  
    color:black; 
  
    background-color:white; 
  
   text-align: center; 
  
  } 
  
  .p{ 
  
    text-align: start; 
  
  } 